body {
    margin: 0;
    font-family: sans-serif;
}

main {
    /* Setting the position fixed to the window */
    position: fixed;
    /* Stretching the elements, the map: entire space of the map */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map {
    /* Set it the height to make a big map then set auto for the width */
    height: 100%;
}
